= content_for(:title, "Classifier")

= form_tag(classifier_test_path) do |f|
  %h5.subheader
    A classifier model using libsvm has been loaded.
    It has the following characteristics:

  %table
    %thead
      %tr
        %td Kerenel Type
        %td C
        %td eps
        %td Examples Size
    %tbody
      %tr
        %td Linear
        %td= classifier.parameter.c
        %td= classifier.parameter.eps
        %td 60,000
  %input.button.radius{type: "submit", value: 'Test Classifier' }
