%div{class: 'fixed'}
  %nav{class: 'top-bar', 'data-topbar'=>''}
    %ul{class:'title-area'}
      %li{class:'name'}
        %h1
          %a{href:'/'}OCR

    %section{class:'top-bar-section'}
      <!-- Right Nav Section -->
      %ul{class:'right'}
        %li{class:'has-dropdown'}
          %a{href:'/about'}About
          %ul{class:'dropdown'}
            %li
              %a{href:'/github-TODO'}Source Code

      <!-- Left Nav Section -->
      %ul{class:'left'}
        %li
          %a{href:'/data'}Data
        %li
          %a{href:'/classifier'}Classifier
        %li
          %a{href:'/try'}Try
